.niceButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(16, 185, 214);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.niceButton:hover {
    background-color: #1795bb;
}

.niceButton:active {
    background-color: #1795bb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}